@import '../../base/fn';
@import './sxc-button_global';

button, input {
    &.sxc-btn {
        width: 100%;
        border-width: 0;
        outline: 0;
        -webkit-appearance: none;
        &:focus {
            outline: none;
        }
    }

    &.weui-btn_inline,&.weui-btn_mini {
        width: auto;
    }
}
