@import "../../base/fn";

.sxc-btn-disabled {
    color: $sxc_btn_disabled_font_color;
    &.sxc-btn-default {
        color: $sxc_btn_default_disabled_font_color;
        background-color: $sxc_btn_default_disabled_bg;
    }
    &.sxc-btn-primary {
        background-color: $sxc_btn_primary_disabled_bg;
    }
    &.sxc-btn-warn {
        background-color: $sxc_btn_warn_disabled_bg;
    }
    &.sxc-btn-yellow {
        color: $sxc_btn_yellow_disabled_font_color;

        &.sxc-btn-mini {
            border-color: $sxc_btn_yellow_disabled_border_color;
        }
    }

    &.sxc-btn-smooth-primary {
        background-color: $sxc_btn_smooth_primary_disabled_bg;
        border-color: $sxc_btn_smooth_primary_disabled_border_color;
    }
}
