@import "../../base/fn";

.sxc-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: $sxc_btn_font_size;
    text-align: center;
    text-decoration: none;
    color: $sxc_btn_font_color;
    @include setTapColor();
    line-height: $sxc_btn_line_height;
    border-radius: $sxc_btn_border_radius;
    overflow: hidden;

    &:after {
       @include setBorder($sxc_btn_border_color, $sxc_btn_border_radius * 2);
    }
}

.weui-btn-inline {
    display: inline-block;
}
