
/**
 * 正常按钮
 * sxc_btn
 */
$sxc_btn_font_size:                 18px;
$sxc_btn_height:                    46px;
$sxc_btn_line_height:               $sxc_btn_height / $sxc_btn_font_size;
$sxc_btn_border_color:              rgba(0, 0, 0, 0.2);
$sxc_btn_border_radius:             5px;
$sxc_btn_font_color:                #FFFFFF;
$sxc_btn_active_font_color:         rgba(255,255,255,.6);
$sxc_btn_disabled_font_color:       rgba(255,255,255,.6);

$sxc_btn_default_gap:               15px;


/**
 * sxc_btn_default
 */
$sxc_btn_default_font_color:          #000000;
$sxc_btn_default_active_font_color:   rgba(0, 0, 0, .6);
$sxc_btn_default_disabled_font_color: rgba(0, 0, 0, 0.3);
$sxc_btn_default_border_color:        rgba(0, 0, 0, 0.2);
$sxc_btn_default_bg:                  #F8F8F8;
$sxc_btn_default_active_bg:           #DEDEDE;
$sxc_btn_default_disabled_bg:         #F7F7F7;

/**
 * sxc_btn_primary
 */
$sxc_btn_primary_font_color:        #FFFFFF;
$sxc_btn_primary_active_font_color: rgba(255,255,255, .6);
$sxc_btn_primary_border_color:      rgba(0, 0, 0, 0.2);
$sxc_btn_primary_bg:                #1AAD19;
$sxc_btn_primary_active_bg:         #179B16;
$sxc_btn_primary_disabled_bg:       #9ED99D;

/**
 * sxc_btn_warn
 */
$sxc_btn_warn_font_color:           #FFFFFF;
$sxc_btn_warn_active_font_color: rgba(255,255,255, .6);
$sxc_btn_warn_border_color:         rgba(0, 0, 0, 0.2);
$sxc_btn_warn_bg:                   #E64340;
$sxc_btn_warn_active_bg:            #CE3C39;
$sxc_btn_warn_disabled_bg:          #EC8B89;


/**
 * 朴素版
 * sxc_btn_plain_primary
 */
$sxc_btn_plain_primary_color:                  rgba(26,173,25,1);
$sxc_btn_plain_primary_active_color:           rgba(26,173,25,.6);
$sxc_btn_plain_primary_border_color:           rgba(26,173,25,1);
$sxc_btn_plain_primary_active_border_color:    rgba(26,173,25,.6);

/**
 * 朴素版
 * sxc_btn_plain_default
 */
$sxc_btn_plain_default_color:                  rgba(53,53,53,1);
$sxc_btn_plain_default_active_color:           rgba(53,53,53,.6);
$sxc_btn_plain_default_border_color:           rgba(53,53,53,1);
$sxc_btn_plain_default_active_border_color:    rgba(53,53,53,.6);

/**
 * sxc_btn_mini
 */
$sxc_btn_mini_font_size:             13px;
$sxc_btn_mini_line_height:           2.3;
